* { box-sizing: border-box; }

body {  
	font-family: "Garamond", serif; 
	background-color: #1D1F1F;
	background-image: 
	linear-gradient(0deg, transparent 24%, 
	rgba(255, 255, 255, .05) 25%, 
	rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, 
	rgba(255, 255, 255, .05) 75%, 
	rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
	linear-gradient(90deg, transparent 24%, 
	rgba(255, 255, 255, .05) 25%, 
	rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, 
	rgba(255, 255, 255, .05) 75%, 
	rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	background-size:50px 50px;
	}


/* ---- paragraph properties ---- */
p {
  margin: 30px 30px 6px 30px;
  color: #1D1F1F;
  word-break: break-word;
}

/* ---- footnote properties ---- */
sup { 
    vertical-align: super;
    font-size: smaller;
    color: red;
}


.alignleft {
	float: left;
	color: white;
	font-size: 1.5vw;
	}
	
.alignright {
	float: right;
	color: white;
	font-size: 1.5vw;
}

/* ---- list properties ---- */
li {
	font-size: small;
	margin: 30px 30px 6px 30px;
	color: #1D1F1F;
	 word-break: break-word;
}

/* ---- heading1 properties ---- */
h1 {
  margin: 30px 30px 6px 30px;
  padding: 1rem;
  font-size:50px;
  font-weight: 800;
  color: white;
  
}

/* ---- heading2 properties ---- */
h2 {
  margin: 30px 30px 6px 30px;
  color: #1D1F1F;
  font-size:30px;
  font-weight: 800;
}

/* ---- heading3 properties ---- */
h3 {
  margin: 30px 30px 6px 30px;
  color: #1D1F1F;
  font-size:26px;
  font-style:normal;
}


/* ---- Thesis info properties ---- */
.thesis-info{
	margin: 30px 30px 6px 30px;
	max-width: width;	
	font-size: 1vw;
	color: white;
}

/* ---- Title Image properties ---- */
.title-image{
	padding: 0% 4% 10% 4% ;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

/* ---- title-properties ---- */
.title {
	padding: 10%;
	padding-bottom: 10%;
	background: #1D1F1F;
	max-width: width;	
	font-size: 12vw;
	color: white;
	}

/* ---- research question properties---- */
.question {
	padding: 10%;
	padding-bottom: 20%;
	background: #1D1F1F;
	max-width: width;	
	font-size:6vw;
	color: white;
	}

/* ---- grid properties ---- */
.grid {
	padding: 3%;
	background: #1D1F1F;
	max-width: width;  
	background-image: 
	linear-gradient(0deg, transparent 24%, 
	rgba(255, 255, 255, .05) 25%, 
	rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, 
	rgba(255, 255, 255, .05) 75%, 
	rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
	linear-gradient(90deg, transparent 24%, 
	rgba(255, 255, 255, .05) 25%, 
	rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, 
	rgba(255, 255, 255, .05) 75%, 
	rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	background-size:50px 50px;
	}

/* clearfix */
.grid:after {
  content: '';
  display:block;
  clear: both;
}

/* ---- box-number ---- */
.box-number{
	margin-bottom: 10px;
    margin-right: 10px;
	font-size: 10px;
	color: black;
	text-align: right;
}

/* ---- grid-item ---- */
.grid-item { width: 320px;
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	border-bottom-style: none;
	/*border-left-style: none;*/
	border-right-style: none;
	border-top-style: none; 

}

.grid-item--width2 { width: 320px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	/* border-bottom-style: none;*/
	border-left-style: none;
	border-right-style: none;
	border-top-style: none; 
}

.grid-item--width3 { width: 480px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	border-bottom-style: none;
	/*border-left-style: none;*/
	border-right-style: none;
	border-top-style: none; 
}

.grid-item--width4 { width: 640px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	border-bottom-style: none;
	border-left-style: none;
	/*border-right-style: none;*/
	border-top-style: none; 
}

.grid-item--footnote { width: 160px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	/* border-top-style: none; */
}

.grid-item--height2 { width: 480px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	/* border-bottom-style: none;*/
	border-left-style: none;
	 border-right-style: none;
	/* border-top-style: none; */
}

.grid-item--height3 { width: 352px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	/* border-bottom-style: none;*/
	border-left-style: none;
	/*border-right-style: none;*/
	border-top-style: none; 
}

.grid-item--height4 { width: 576px; 
	margin: 0.5px 0.3px 0.5px 0.3px;
	border-style: solid;
	border-width: 22px 26px 20px 29px;
	-moz-border-image: url(border9.png) 64 stretch;
	-webkit-border-image: url(border9.png) 64 stretch;
	-o-border-image: url(border9.png) 64 stretch;
	border-image: url(border9.png) 64 fill stretch;
	border-bottom-style: none;
	/*border-left-style: none;*/
	border-right-style: none;
	/*border-top-style: none; */
}
@page { 
	size: A4;
	margin: 0;
	-webkit-print-color-adjust: exact;	
}
@media print {

	
	body {
		margin: 2cm;
		-webkit-print-color-adjust: exact;
	}
		
	.title-image{
		margin-bottom: 10cm; 
		margin-left: 0cm;
		margin-right: 0cm;
		margin-top: 10cm;
		background-color: #1D1F1F !important;
		}
	
	.question {
		margin-bottom: 20cm;
		margin-left: 0cm;
		margin-right: 0cm;
		margin-top: 20cm;
		-webkit-print-color-adjust: exact;
		font-size:68pt;
		color: white;
		}
		
		.grid{ width: 17cm; }
/*		div[class^="grid-item"] { transform: translateX(-3cm) } */
	    .grid-item { transform: translateX(-3cm); page-break-before: always;}
	    .grid-item--width2 {page-break-before: always;}
	    .grid-item--width3 {page-break-before: always;}
	    .grid-item--width4 {page-break-before: always;}
	    .grid-item--height2 {page-break-before: always;}
	    .grid-item--height3 {page-break-before: always;}
	    .grid-item--height4 {page-break-before: always;}
 
}
	

/* PRINT BLACK AND WHITE */
