* { box-sizing: border-box; }

body {  font-family: "Garamond", serif; 
	background-color: #1D1F1F;
}

/* ---- grid ---- */
p {
  margin: 30px;
  color: #1D1F1F;
}

li {
	margin: 30px;
  color: #1D1F1F;
}

h1 {
  margin: 26px;
  padding: 1rem;
  font-size:50px;
  font-weight: 800;
  color: white;
  
}

h2 {
  margin: 30px;
  color: #1D1F1F;
  font-size:30px;
  font-weight: 800;
}

h3 {
  margin: 20px;
  color: #1D1F1F;
  font-size:26px;
  font-style:normal;
}

.grid { 
	padding: 3%;
  background: #1D1F1F;
  max-width: width;
  
  }

/* clearfix */
.grid:after {
  content: '';
  display:block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 320px;
  height: auto;
  float: center;
  background: white;
  border: 1px solid #333;
  border-color: #1D1F1F;
 /* ----  border: 30px solid black;
  border-image: url("border.png") 30;---- */
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }
.grid-item--footnote { width: 160px; 
	font-size:12px;
}

.grid-item--height2 { width: 480px; }
.grid-item--height3 { width: 352px; }
.grid-item--height4 { width: 576px; }